@font-face {
  font-family: "pfagorasanspro-bold";
  src: url("../../fonts/pfagorasanspro-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pfagorasanspro-reg";
  src: url("../../fonts/pfagorasanspro-reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pfagorasanspro-italic";
  src: url("../../fonts/pfagorasanspro-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pfagorasanspro-light";
  src: url("../../fonts/pfagorasanspro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pfagorasanspro-thin";
  src: url("../../fonts/pfagorasanspro-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html {
  font-family: $base-font-reg;
  font-size: $font-size;
  line-height: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

h1 {
  font-size: $font-size--h1;
  // font-weight: 700;
  // line-height: ;
}

h2 {
  font-size: $font-size--h2;
  // font-weight: 700;
  // line-height: ;
}

h3 {
  font-size: $font-size--h3;
  // font-weight: 700;
  // line-height: ;
}

h4 {
  // font-size: $font-size--h4;
  // font-weight: 700;
  // line-height: ;
}

h5 {
  // font-size: $font-size--h5;
  // font-weight: 700;
  // line-height: ;
}

h6 {
  // font-size: $font-size--h6;
  // font-weight: 700;
  // line-height: ;
}

small {
  // font-size: $font-size--small;
}

sub,
sup {
  font-size: 70%;
}

mark {
  background: $color-main;
  // padding: ;
}

b,
strong {
  // font-weight: ;
}

a {
  color: black;
}